@CHARSET "utf-8";

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url('../img/home.png') no-repeat, url('../img/bg-azul-baixo.png') repeat-x;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.topoH{
    min-height: 80px;
}

.logo {
	width: 241px;
	height: 144px;
	margin-left: 0px;
	position: relative;
	top: 22px;
	left: 6px;
}

.LogoAjuste {
	position: relative;
	top: 0px;
	left: 0px;
}

.menu {
	width: auto;
	position: absolute;
	left: 302px;
	margin-top: -50px;
}

.nav>li>a {
	padding: 10px 31px 10px 10px;
}

.nav>li>a:HOVER {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3D1B7F;
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity = 65);
}

.agenda {
	background-color: white;
	
	border-radius: 5px;
        position: relative;
}

.cabeca {
	background-image: url(../img/mixirico-cabeca.png); /* Insere a imagem */
	width: 149px;
	height: 216px;
	margin-left: 850px;
	position: absolute;
        right: 100px;
	top: -216px;
	
}

.bemvindos {
	background-image: url(../img/bemvindos.png); /* Insere a imagem */
	width: 245px;
	height: 144px;
	margin-left: 590px;;
	position: absolute;
	top: -200px;
	right: 250px;
}

.mao {
	background-image: url(../img/mao.png); /* Insere a imagem */
	width: 63px;
	height: 110px;
	margin-left: 1225px;
	position: absolute; 
	top : 0px;
	right: -30px;
	z-index: 10000;
	
}

.noticia {
	min-height: 250px;
	background-color: white;
        margin-bottom: 5px;
        overflow: hidden;
         border-radius: 5px;
}
.bandeira{
	
	position: absolute;
}
.foto{
	top: 10px;
	position:absolute;
	width: 230px;
	height: 230px;
}
.boxLateral {
	background-color: white;
	min-height: 250px;
	border-radius: 5px;
        margin-bottom: 5px;
}
.botao {
	background-color: white;
	height: 40px;
        text-align: center;
        margin-top: 10px;
        border-radius: 5px;      
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.sentado{
    
    width: 200px;
    height: 250px;
}

.redeSocial{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 30px;
}

.pager li > a, .pager li > span {
display: inline-block;
padding: 5px 5px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 3px;
}

.pager {
padding-left: 0;
margin: 05px 0;
text-align: center;
list-style: none;
}

.titulo{
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 20px;
     color: #29065e;
     font-weight: bold;
}