html {
  min-height: 100%;
  background: #33414e url("../img/bg.png") left top repeat;
}
.espaco{margin-right:10px;}
.mceLayout{margin-bottom:12px !important;}
/* diversos */
.retorno{margin-top:10px;}
.retorno img{margin:0 5px 5px 0;}